# --- Archivos de configuración de Eclipse ---
.metadata/
.classpath
.project
.settings/

# --- Archivos compilados y empaquetados ---
bin/
*.class
*.war
*.ear

# --- Carpetas de herramientas de construcción (por si usas Maven o Gradle) ---
target/
.gradle/
build/

# --- Archivos del sistema operativo ---
.DS_Store
Thumbs.db